<div class="burgers-page">
  <div class="container">
    <div class="section-heading">
      <h1>All Burgers</h1>
      <a class="btn btn-green" href="/burgers/new">Add New Burger</a>
    </div>

    <div class="burgers-list">

      <div class="row">
        <% if @burgers.count > 0 %>
            <% @burgers.each do |burger| %>
                <div class="col-4">
                  <div class="burger">
                    <div class="burger-body">
                      <img src="<%= burger.image_url %>">
                      <h1 class="burger-name"><%= burger.name %></h1>
                      <h2 class="price">&pound;<%= burger.price %></h2>
                      <p class="description"><%= burger.description %></p>
                    </div>
                    <div class="burger-footer">
                      <a class='btn btn-blue' href='/burgers/<%= burger.id %>' class="view-burger">View Burger</a>
                    </div>
                  </div>
                </div>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
