<div class="single-burger">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <img src="<%= @burger.image_url %>" alt="">
      </div>
      <div class="col-8">
        <div class="section-heading">
          <h1><%= @burger.name %></h1>
          <form action="/burgers/<%= @burger.id %>" method="post">
            <input type="submit" value="Delete" class="btn btn-red">
          </form>
        </div>
        <div class="burger-details--eatery">
          <div class="row">
            <div class="col-2">
              <img src="<%= @burger.eatery.image_url %>">
            </div>
            <div class="col-10">
              <h3>
                <a href="/eateries/<%= @burger.eatery.id %>"><%= @burger.eatery.name %></a>
              </h3>
            </div>
          </div>
        </div>
        <h3 class="price">&pound;<%= "%.2f" % @burger.price %></h3>
        <p class="description"><%= @burger.description %></p>
      </div>
    </div>

    <div class="section">
      <div class="section-heading">
        <h1>Deals</h1>
      </div>

      <% if @burger.deals.count > 0 %>
          <div class="deals">
            <div class="row">
              <% @burger.deals.each do |deal| %>
                  <div class="col-4">
                    <div class="deal">
                      <div class="deal-body">
                        <img class="deal-image" src="<%= deal.eatery.image_url %>"/>
                        <h1 class="deal-name" href="/deals/<%= deal.id %>"><%= deal.full_name %></h1>
                      </div>
                      <div class="deal-footer">
                        <a class='btn btn-blue' href='/deals/<%= deal.id %>' class="view-deal">View Deal</a>
                      </div>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
      <% end %>

    </div>
  </div>
</div>