<div class="deals-page">

  <div class="feature">
    <h1>Deals to Sink Your Teeth Into.</h1>
  </div>

  <div class="btn btn-green btn-fab"><i class="fa fa-plus" aria-hidden="true"></i></div>

  <div class="content-wrapper">
    <div class="sidebar">
      <form action="/deals" method="get">
        <select name="selected_day" id="selected_day">
          <option value="all">All</option>
          <% @days.each do |day| %>
              <option
              <%= 'selected' if @selected_day == day %>
              value="<%= day %>">
                <%= day %>
              </option>
          <% end %>
        </select>
        <input class="btn btn-green btn-block" type="submit" value="Update Deals"/>
      </form>
    </div>

    <div class="main-content">
      <div class="section">

        <% if @show_all_deals %>
            <% @deals.each do |day, deals| %>

                <div class="section">
                  <div class="section-heading">
                    <h1><%= day %></h1>
                  </div>

                  <div class="deals">
                    <div class="row">
                      <% deals.each do |deal| %>
                          <div class="col-3">
                            <div class="deal">
                              <div class="deal-body">
                                <img class="deal-image" src="<%= deal.eatery.image_url %>"/>
                                <h1 class="deal-name" href="/deals/<%= deal.id %>"><%= deal.full_name %></h1>
                              </div>
                              <div class="deal-footer">
                                <a class='btn btn-blue' href='/deals/<%= deal.id %>' class="view-deal">View Deal</a>
                              </div>
                            </div>
                          </div>
                      <% end %>
                    </div>
                  </div>
                </div>
            <% end %>
        <% else %>
            <div class="section">
              <div class="section-heading">
                <h1><%= @selected_day %> Deals</h1>
              </div>

              <div class="deals">
                <div class="row">
                  <% @deals.each do |deal| %>
                      <div class="col-3">
                        <div class="deal">
                          <div class="deal-body">
                            <img class="deal-image" src="<%= deal.eatery.image_url %>"/>
                            <h1 class="deal-name" href="/deals/<%= deal.id %>"><%= deal.full_name %></h1>
                          </div>
                          <div class="deal-footer">
                            <a class='btn btn-blue' href='/deals/<%= deal.id %>' class="view-deal">View Deal</a>
                          </div>
                        </div>
                      </div>
                  <% end %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>




