<div class="single-deal">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <img src="<%= @deal.eatery.image_url %>" alt="">
      </div>
      <div class="col-8 deal-details">
        <div class="section-heading">
          <h1><%= @deal.full_name %></h1>
          <form action="/deals/<%= @deal.id %>" method="post">
            <input type="submit" value="Delete" class="btn btn-red">
          </form>
        </div>
        <h2 class="day"><%= @deal.day %></h2>
      </div>
    </div>

    <% if @deal.burgers.count > 0 %>
        <div class="section-heading">
          <h1>Burgers</h1>
        </div>
        <div class="row">
          <% @deal.burgers.each do |burger| %>
              <div class="col-6">
                <div class="burger">
                  <div class="burger-body">
                    <img src="<%= burger.image_url %>">
                    <h1><%= burger.name %></h1>
                    <div class="row burger-prices">
                      <span class="old-price">&pound;<%= "%.2f" % burger.price %></span>
                      <span class="new-price">&pound;<%= "%.2f" % ((burger.price.to_f / 100) * (100 - @deal.discount_rate.to_f)).round(2) %></span>
                    </div>
                    <p class="description"><%= burger.description %></p>
                  </div>
                  <div class="burger-footer">
                    <a class='btn btn-blue' href='/burgers/<%= burger.id %>' class="view-burger">View Burger</a>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
    <% end %>
  </div>
</div>
