<h1><%= @deal.full_name %></h1>
<h2><%= @deal.day %></h2>

<% if @deal.burgers.count > 0 %>
    <h2>Burgers</h2>
    <ul>
      <% @deal.burgers.each do |burger| %>
          <li>
            <a href="/burgers/<%= burger.id %>"><%= burger.name %></a>
            <span><%= burger.price %></span>
          </li>
      <% end %>
    </ul>
<% end %>